<!DOCTYPE html>
<html lang="zh">
<head>
 
	<title>葡萄酒后台管理</title>
 
    <link rel="stylesheet" href="~/Areas/Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Areas/Admin/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/Areas/Admin/css/unicorn.main.css" />
    <link rel="stylesheet" href="~/Areas/Admin/css/unicorn.grey.css" class="skin-color" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="~/Areas/Admin/js/excanvas.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.ui.custom.js"></script>
    <script src="~/Areas/Admin/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.flot.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.flot.resize.min.js"></script>
    <script src="~/Areas/Admin/js/jquery.peity.min.js"></script>
    <script src="~/Areas/Admin/js/fullcalendar.min.js"></script>
    <script src="~/Areas/Admin/js/unicorn.js"></script>
    <script src="~/Areas/Admin/js/unicorn.dashboard.js"></script>
</head>
<body>
  @RenderBody()
 
@*@Html.Partial("_footer")*@
</body>
</html>








 