 
   

    
    <div class="nav" style="display: none">
        <div class="nav_back">back</div>
       
            <div class="nav_level1" id="EncyclopediaManage" target="mainfra">酒事百科维护</div>
            <div class="nav_level1" id="ProductManage" target="mainfra">推荐产品维护</div>
            <div class="nav_level1" id="CheersManage" target="mainfra">酒品人生维护</div>
    </div>     
   
 
 
<script type="text/javascript">
              $(function () {
                  //alert("");
                  $("#EncyclopediaManage").click(function (e) {
                      mainfra.location.href = "/Admin/EncyclopediaManage";
                      //取消点击冒泡
                      e.stopPropagation();
                  });
                  $("#ProductManage").click(function (e) {
                      mainfra.location.href = "/Admin/ProductManage";
                      //取消点击冒泡
                      e.stopPropagation();
                  });
                  $("#CheersManage").click(function (e) {
                      mainfra.location.href = "/Admin/CheersManage";
                      //取消点击冒泡
                      e.stopPropagation();
                  });
                  ////资料下载点击
                  //$("#Download").click(function (e) {
                  //    window.location.href = "/admin/Download";
                  //    e.stopPropagation();
                  //});

                  $(".nav_level1").hover(function () {
                      $(this).addClass('hover')
                  }, function () {
                      $(this).removeClass('hover')
                  })
                  $(".nav_level2,.nav_back").hide();
                  $(".nav_level1").click(function () {
                      $(".nav_level2").hide();
                      $(".nav_back").show(500);
                      $(this).show();
                      $(this).next().show(500);
                  })
                  $(".nav_back").click(function () {
                      $(".nav_level2,.nav_back").hide();
                      $(".nav_level1").show(500);
                  })
                  $(".nav").css("display", "block")
              })
    </script>
