

<div class="search" style="margin-top:0;">
	<span style="float:left;">搜索：</span>
	<input type="text" class="Keyword" style="float:left;margin-top: 3px;"> 
	@Html.ActionLink("搜索","Search",null,new{@class ="BtnSearch"})
 
</div>