<div class="nav" style="display: none">
    <div class="nav_back">back</div>

    <div class="nav_level1" id="nva1">用户维护</div>
    <div class="nav_level2">
        <a href="/Admin/news/Index/1" id="nva1_1">用户管理</a>
        <a href="/Admin/Category/Index/1" id="nva1_2">新闻分类维护</a>
        <a href="/Admin/topnews" id="nva1_3">置顶新闻设置</a>
    </div>

    <div class="nav_level1" id="Download">资料下载</div>

    <div class="nav_level1" id="nva2">新闻会客厅维护</div>
    <div class="nav_level2">
        <a href="/Admin/news/Index/2" id="nva2_1">新闻维护</a>
        <a href="/Admin/Category/Index/2" id="nva2_2">分类维护</a>
        <a href="/Admin/Category/Index/2" id="nva2_3">资料下载维护</a>
        <a href="/Admin/Category/Index/2" id="nva2_4">强生视频维护</a>
    </div>

    <div class="nav_level1" id="Other">公益事业维护</div>
    <div class="nav_level2">
        <a href="/Admin/IndexSlide" id="nva3_1">首页背景设置</a>
        <a href="/Account" id="nva3_4">管理员列表</a>

        <a href="/Account/Register " id="nva3_3">添加管理员账号</a>
    </div>

    <div class="nav_level1" id="Process">人才招娉</div>
    <div class="nav_level2">
        <a href="/Admin/Recruit" id="nva4_1">招聘问答</a>
        <a href="/Admin/Contract" id="nva4_2">签约、实习和报到</a>
    </div>
</div>
