<!--footer start-->
<div class="bottom">
    <a href="#" target="_blank">
        <div class="box">
            <h2>夏梦庄园</h2>
            <img src="images/pic_01.jpg" />
        </div>
    </a>
    <a href="#" target="_blank">
        <div class="box">
            <h2>酒事百科</h2>
            <img src="images/pic_02.jpg" />
        </div>
    </a>
    <a href="#" target="_blank" class="last">
        <div class="box">
            <h2>品酒人生</h2>
            <img src="images/pic_03.jpg" />
        </div>
    </a>
</div>
<div class="footer">
    <p>CHÂTEAU DE LAGARDE IS A FAMILY OWNED VINEYARD SINCE 1850, IT IS CONSIDERED </p>
    <p>AS THE LARGEST FAMILY OWNED ORGANIC </p>
    <p>VINEYARD IN BORDEAUX. CHÂTEAU DE LAGARDE IS </p>
    <p>ONE OF THE BEST RED WINES FROM CHÂTEAU DE LAGARDE.</p>
</div>
<!--footer end-->
