 
<!--footer start-->
<div class="bottom">
	<div class="csrcode flexslider" id="focus_bigpic">
		<ul class="slides">		
		<li><a href="/wine/history.html">
			<div class="box">
				<h2>夏梦庄园</h2>
				<img src="~/images/bottom_partner_01.jpg" />
			</div>
		</a></li>
		<li><a href="/wine/history_02.html">
			<div class="box">
				<h2>亚历山大庄园</h2>
				<img src="~/images/bottom_partner_02.jpg" />
			</div>
		</a></li>
		<li><a href="/wine/history_03.html" class="last">
			<div class="box">
				<h2>查里 &bull; 凯宁庄园</h2>
				<img src="~/images/bottom_partner_03.jpg" />
			</div>
		</a></li>
		</ul>
	</div>
	<a href="/Encyclopedia">
		<div class="box">
			<h2>酒事百科</h2>
			<img src="~/images/pic_02.jpg" />
		</div>
	</a>
	<a href="/Cheers" class="last">
		<div class="box">
			<h2>品酒人生</h2>
			<img src="~/images/pic_03.jpg" />
		</div>
	</a>
</div>
<div class="footer">
    <p style="font-size:14px; font-weight:bold;">友好提醒：过量饮酒有害健康</p>
	<p>法酒舍 FAJIUSHE, TRADING BY CROWN FAITH LIMITED亨丰有限公司<br>版权所有 Copyright &copy; 2014 All rights reserved.</p>
	<p><a href="/wine/notices.html" style="color:#7e6b5a;">重要告示 Important Notices</a> &nbsp;&nbsp; | &nbsp;&nbsp; <a href="/wine/privacy.html" style="color:#7e6b5a;">隐私政策 Privacy Policy</a></p>
</div>
<!--footer end-->
<script src="~/js/slider.js"></script>
<script type="text/javascript">
    $(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        directionNav: false,
        controlNav: false,
      });
    });
</script>