<!--header-->
<div class="header">
	<div class="header_wrap">
		<div class="top"><span></span><a href="#" class="language">English</a></div>
		<div class="header_box">
			<div class="logo"><a href="/wine/index.html"><img src="~/images/logo.png" /></a></div>
			<div class="nav">
				<ul id="js_nav">
					<li class="about"><a href="/wine/about.html">关于我们</a>
						<div class="subnav">
							<a href="#">品牌故事</a><a href="/wine/about.html">選酒理念</a>
						</div>
					</li>
					<li class="baike"><a href="/Encyclopedia">酒事百科</a></li>
					<li class="goods"><a href="/Product">推介产品</a>
						<div class="subnav">
							<a href="/Product/List/1">红葡萄酒</a><a href="/Product/List/2">白葡萄酒</a><a href="/Product/List/3">气泡酒及其它</a>
						</div>
					</li>
					<li class="history"><a href="/wine/histroy.html">酒庄历史</a>
						<div class="subnav">
							<a href="/histroy.html">夏梦酒庄</a>
						</div>
					</li>
					<li class="contact"><a href="#">联系我们</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!--header end-->