
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>葡萄酒</title>
	<link rel="stylesheet" type="text/css" href="~/style/base.css" />
	<link rel="stylesheet" type="text/css" href="~/style/index.css" />
	<link rel="stylesheet" type="text/css" href="~/style/list.css" />
	<script type="text/javascript" src="~/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="~/js/common.js"></script>
</head>
<body>

@Html.Partial("_header")
<!--main start-->
<div class="main">
	  @RenderBody()
</div>
<!--main end-->
@Html.Partial("_footer")
</body>
</html>








 