
<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>法酒舍 | 专注葡萄酒文化，分享经典好酒</title>
    <meta name="title" content="法酒舍|葡萄酒|酒庄|庄园|法国|酿制">
	<meta name="keywords" content="法酒舍，葡萄酒进口商。进的不一定是列级酒庄酒，但一定挑选优质酒庄酒。今年重点推介有西图男爵、拉哥杰古堡、查里.凯宁香槟等获奖洋酒。法酒舍,葡萄酒,酒庄,庄园,法国,酿制">
	<meta name="description" content="法酒舍、葡萄酒、酒庄、庄园、法国、酿制">
	<link rel="stylesheet" type="text/css" href="~/style/base.css" />
	<link rel="stylesheet" type="text/css" href="~/style/index.css" />
	<link rel="stylesheet" type="text/css" href="~/style/list.css" />
	<script type="text/javascript" src="~/js/jquery-1.8.0.min.js"></script>
	<script type="text/javascript" src="~/js/common.js"></script>
</head>
<body>

@Html.Partial("_header")
<!--main start-->
<div class="main">
	  @RenderBody()
</div>
<!--main end-->
@Html.Partial("_footer")
</body>
</html>








 