@model List<WineWeb.Models.Encyclopedia>

@{
    ViewBag.Title = "Index";
}

<div class="main_wrap">
		<div class="sitenav"><a href="#" target="_blank">首页</a>&gt<span>酒事百科</span></div>
		<h1><strong>酒事百科</strong><br /><span>Encyclopedia</span></h1>
		<div class="mainlist">
            @foreach (var item in Model)
            {
                <div class="listbox">
				    <a href="#" target="_blank"><img src="~/@item.thum"></a>
				    <h3><a href="#" target="_blank">@item.title</a></h3>
				    <p>@item.content</p>
				    <a href="#" class="more">&gt;&nbsp;&nbsp;阅读全文</a>
			    </div>
            }
 
		</div>
		<!--pager start-->
	     @Html.Partial("_Pagination", (WineWeb.Models.Pagination)ViewBag.Pagination)	 
    	<!--pager end-->
	</div>

